.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;      
    width: 100%;            
    padding: 0 20px;        
  }
  
  .slick-slide {
    display: flex;
    justify-content: center; 
    padding: 10px;          
  }
  
  .slick-prev, .slick-next {
    z-index: 50;
  }
  
  